@import "../fonts/fonts.css";

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #f784ad;
    --purple: #7048e8;
    --blue: #374fc7;
    --red: #f03d3e;
    --grey-1: #f8f9fa;
    --grey-2: #dde2e5;
    --grey-3: #acb5bd;
    --grey-4: #495057;
    --grey-5: #e2e6e8;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);

    --loading-line-height: 20px;
    --loading-line-color-1: #dde2e5;
    --loading-line-color-2: #e2e6e8;
    --loading-line-color-3: #f3f5f5;
    --loading-line-color-4: #e3e7ea;
}

* {
    font-family: "Roboto", sans-serif;
}
